
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.env

# Jupyter
.ipynb_checkpoints

# Data and models
data/
models/
*.h5
*.ckpt
*.pth
*.pt

# OS files
.DS_Store
Thumbs.db
